
.navmob{
    display: flex;
    flex-direction: column;
    /* background-color: #3755c7; */
    background: rgba(60, 60, 204, 1);
    /* height: 100vh; */
    /* width: 90%; */
    padding-left: 10px;
    padding-right: 10px;
    width: 88.5%;
    justify-content: space-between;
    margin-top: -25px;
}
.navmob-pgs{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: fit-content;
    width: 100%;
    /* width: 0%; */
    /* gap: 15px; */
    /* text-align: center; */
    /* background-color: white; */
}
.navmob-pgs1{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-items: center;
    /* padding: 0 20px 0 20px; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    /* background-color: #263366; */
    background-color: rgba(255, 255, 255, 0.326);
}
 .navmob-pgs10{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    width: 0px;
    /* margin-left: 30px; */
    transition: 0.2s ease-in-out;
    /* background-color: #263366; */
}
/* .navmob-pgs10:hover{
    background-color: #263366;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 50px;
    padding: 0 10px 0 10px; */
    /* width: 40%; */
    /* animation-fill-mode: both;
} */
/* .navmob-pgs1:hover{
    background-color: #263366;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 50px;
    padding: 0 10px 0 10px; */
    /* width: 40%; */
    /* animation-fill-mode: both;
} */
.navmob-pgs0{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    /* gap: 10px; */
    height: 75%;
    width:100%;
    border: solid 0.2px blue;
    background-color: rgba(60, 60, 204, 0.5);
}
.navmob-pgs02{
    display: flex;
    font-size: 18px;
    height: 70%;
    width: 100px;
    /* align-items: center; */
    /* justify-content: center; */
}
.navmob-pgs2{
    display: flex;
    font-weight: bold;
    color: white;
    height: 70%;
    /* align-items: center; */
    /* justify-content: center; */
    text-decoration: none;
    height: 100%;
    padding: 0 5px 0 5px;
    width: 0%;
    /* background-color: #263366; */
}

/* .navmob-pgs2:hover{ */
    /* background-color: #263366;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 80px; */
    /* height: 70%; */
    /* width: 70px; */
    /* animation-fill-mode: both; */
/* } */
.navmob-pgs03{
    display: flex;
    height: 70%;
    width: 10%;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */

}
.navmob-pgs3:active{
    background-color: #263366;
}
.navmob-pgs3{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 0%;
    align-items: center;
    /* padding: 0 20px 0 20px; */
    justify-content: center;
    background-color: #263366;
}
/* .navmob-pgs3:hover{
    background-color: #263366;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 0 20px 0 20px; */
    /* height: 70%; */
    /* width: 60px;
    animation-fill-mode: both;
} */
.navmob-icons{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */
}
.icon1{
    height: 30%;
    width: 15%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
}
.icon1 img{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.mobpg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 50%;
    /* background-color: blueviolet; */
}
.mobpg h1{
    font-size: 25px;
    color: #f0f0f0;
    margin-left: 300px;
}