.reviews{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 350px;
    background: rgba(68, 106, 255, 0.2);
}
.rev-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #000d23;
    margin-top: -50px;
}
.rev-img img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
}
.reviews h1{
    font-size: 30px;
    color: white;
    margin-top: 40px;
}
.reviews h2{
    font-size: 18px;
    color: #008aff;
}
.reviews p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: 30px 30px 0 30px;
}
